.container {
  height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  height: 100%;
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width:30vw;
}

.imgContainer{
  height: 100vh;
  width:70vw;
  overflow: hidden;
   display: flex;
    justify-content: center;
    align-items: center;
}

.imgContainer img{
 flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

.register{
  text-decoration: underline;
}

.button{
  cursor: pointer;
  background: #333333;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  width: 164px;
  height: 48px;
  border: none;
}
