{
  "singleQuote": true,
  "trailingComma": "all",
  "importOrder": ["^@nestjs/(.*)$", "^src/(.*)$", "^[../](.*)", "^[./](.*)"],
  "importOrderSeparation": true,
  "importOrderParserPlugins" : ["classProperties", "decorators-legacy", "typescript"]
}